joblib
numpy
pandas
scikit-learn
matplotlib
umap-learn
psutil
xgboost==3.0.2
lightgbm
catboost



# ✅ Logistic Regression
# ➡️ Decision Tree
# ⬜ Random Forest
# ⬜ Extra Trees
# ⬜ AdaBoost
# ⬜ XGBoost
# ⬜ LightGBM
# ⬜ CatBoost
# ⬜ SVM
# ⬜ KNN